run/screenshots/android/landingpage_new_account.png filter=lfs diff=lfs merge=lfs -text
run/screenshots/android/landingpage_restore_account.png filter=lfs diff=lfs merge=lfs -text
run/screenshots/ios/landingpage_new_account.png filter=lfs diff=lfs merge=lfs -text
run/screenshots/ios/landingpage_restore_account.png filter=lfs diff=lfs merge=lfs -text
